In [ ]:
import pyspark

In [ ]:
#Ler os dados do enem 2020
enem = (
    spark
    .read
    .format("csv")
    .option("header", True)
    .option("inferSchema", True)
    .option("delimiter", ";")
    .load("s3://datalake-kiane-2023/raw-data/")
)

In [ ]:
enem.printSchema()

In [ ]:
df = (
    enem
    .select("NU_IDADE", "TP_SEXO", "TP_ESTADO_CIVIL", "TP_COR_RACA", "TP_NACIONALIDADE",
            "NU_NOTA_CN", "NU_NOTA_CH", "NU_NOTA_LC", "NU_NOTA_MT")
)

In [ ]:
df.show(10)

In [ ]:
df.count()

In [ ]:
from pyspark.sql.functions import mean, max, min, col, count

In [ ]:
(
    df
    .groupby("TP_SEXO")
    .agg(
        mean(col("NU_IDADE")).alias("MED_IDADE"),
        count(col("TP_SEXO")).alias("CONTAGEM"),
        max(col("NU_NOTA_MT")).alias("MAX_NOTA_MT"),
        min(col("NU_NOTA_MT")).alias("MIN_NOTA_MT")
    )
    .show()
)

In [ ]:
(
    enem
    .write
    .mode("overwrite")
    .format("parquet")
    .partitionBy("year")
    .save("s3://datalake-kiane-2023/staging/enem")
)

In [ ]:
spark.stop()